@font-face {
    font-family: "";
    src: url("");
    font-display: swap;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

body {
    color: #111;
    font-size: 1rem;
    font-weight: 400;
    min-height: 100vh;
}